<div class="post">
    <div class="head">
        <a href=<%= "/blogs/" + blog._id %> > <h2><%= blog.heading %></h1> </a>
        <h5> <%= blog.date.toString().split(" ").slice(0,4).join(" ") %> , <%= blog.date.toString().split(" ")[4] %> </h2>
    </div>
    <p> <%= blog.content %> </p>
</div>